{% extends 'main.html' %}
{% block title %}
Cours
{% endblock %}

{% block content %}
<h10>Bienvenue </h10>
<br><br><br><br><br><br><br>
    <ol>
        <p class="mon-paragraphe"> Bonjour et bienvenue, nous sommes Reiminger Antoine, Clément Frimin, Eval Vallet et Coulon Ethan. Aujourd’hui on vous présente notre SAE 23 portant sur le thème d’un développement d’une solution informatique pour une entreprise. Notre objectif ce porte sur la gestion d’absence dans une école à l’aide d’outils informatiques. Pour réaliser ce projet, nous avons utilisé pour outil Django sur un environnement de développement nommé PyCharm. Dans ce projet nous devions faire en sorte gérer un système d’absence avec une interface dédier à la gestion d’absence d’un département. Le gestionnaire doit pouvoir prendre en compte plusieurs paramètres tels que la saisie des absences à des cours puis insérer un justificatif d’absence. A l’aide d’une base de données et d’un CRUD pour chaque types de données, on doit concevoir un site web reprenant le système de la gestion d’absence au sein d’un ou plusieurs départements.</p>
    </ol>
{% endblock %}