ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a67952;
}

#nav {
    float: left;
    transition: trabnsform 0.3s;
}
#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Papyrus', cursive;
}


#nav a:hover {
    background-color: #111;
    transform: scale(1.4)
}



html, body{
    background-image: url(/static/img/fondbrique.jpg);
    margin:0;
    height:98%;
}

#fond{
    background-image: url(/static/img/parcheminc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

h1{
    text-align: center;
    font-family: 'Papyrus', cursive;
    color: rgb(165, 38, 10);
}

h2{
    margin-left: 2%;
    font-family: 'Papyrus', cursive;
}

#desc{
    font-size: 20px;
    margin-left: 3%;
}

#riaj:link, #riaj:visited{
    background-color: #474e3c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: groove;
    border-width: 2px;
    border-color: #111;
    margin-left: 2%;
    font-family: 'Papyrus', cursive;
}

#riaj:hover, #riaj:active {
    background-color: rgba(223, 109, 20);
  }

body{
    background-color: gray;
}

ul{
    border-style: groove;
    border-width: 3px;
    border-color: rgb(139,69,19);
}

.zoom-effect {
    transition: transform 0.3s;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.mon-paragraphe {
  color: red;
  text-align: center;
  color: rgb(165, 38, 10);
}

h10{
    margin-left: 45%;
    margin-top: 1%;
    font-family: 'Papyrus', cursive;
    color: rgb(165, 38, 10);
    font-size: 2em;
}
