
{% extends 'main.html' %}
{% block title %}
{{etud.nom}}
{% endblock %}

{% block content %}
<H1>Étudiant : {{etud.nom}}, {{etud.prenom}}, <img src="/media/{{etud.photo}}" /></H1>
<ul>
  {% for absence in absences %}
    <li>Absence ID: {{ absence.idabsence }}</li>
    <a id="riaj" href="/ecole/updateabs/{{absence.idabsence}}">update</a>
        {% if absence.justifier is True %}
        <li>Justifié</li>
        {% else %}
        <li>Non justifié</li>
        {% endif %}
        <li>{{absence.etudiant}}</li>
  {% endfor %}
</ul>


{% endblock %}